body {
  font-family: "Arial", sans-serif;
  background: #1a1a1a;
  color: #ffffff;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.arena-table {
  border-collapse: collapse;
}

.arena-table td {
  width: 80px;
  height: 80px;
  border: 1px solid #444;
  position: relative;
  cursor: pointer;
}

.arena-table td.floor {
  background: #109416;
}

.arena-table td.obstacle {
  background: #a74e0f;
}

.arena-table td.spectial {
  background: #b3ff39;
}

.hero {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 10;
}

.hero.knight {
  background-image: url("../assets/heroes/knight.png");
}

.hero.ninja {
  background-image: url("../assets/heroes/ninja.png");
}

.hero.wizard {
  background-image: url("../assets/heroes/wizard.png");
}
.hero.archer {
  background-image: url("../assets/heroes/archer.png");
}

.ui-panel {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  width: 370px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hero-portrait {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fcfcfc;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.health-bar {
  width: 100%;
  height: 20px;
  background: #444;
  border-radius: 10px;
  overflow: hidden;
}

.health-fill {
  height: 100%;
  width: 100%;
  background: #d33;
  transition: width 0.3s;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.action-buttons button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #8fb843;
  color: #112212;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.4s;
}

.action-buttons button:hover {
  background: #384923;
}

.action-buttons button:active {
  background: #e4dd7d;
}

.game-log {
  background: #111;
  padding: 5px;
  border-radius: 5px;
  height: 370px;
  width: 370px;
  overflow-y: auto;
  font-size: 18px;
}

.game-log p {
  margin: 15px;
}

.hero-selection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-options {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.hero-option {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.hero-option:hover {
  transform: scale(1.1);
  background: #686868;
}

.hero-option img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.end-game-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  text-align: center;
}

.end-game-screen h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px gold;
}

#victory-screen h1 {
  color: #4caf50;
}

#defeat-screen h1 {
  color: #f44336;
}
